<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Adicionador</title>
</head>
<body>
		
<form action="Adicionador" method='post'>
Título: <input type='text' name='Titulo'><br>
Descrição: <input style='width: 500px;' type='text' name='Descricao'><br>
<!--<label name='Importância'  for='importância'>Importância</label>	<select id='importância' name='importância'><option value=1>1</option><option value=2>2</option><option value=3>3</option><option value=4>4</option><option value=5>5</option></select><br>-->
Importância: <input  type='number' name='Importancia'><br>
<input type='submit' value='gravar'>
</form><br>
<form action="http://localhost:8080/OrganizadorDeTarefas/Lista">
    <input type="submit" value="Retornar às Tarefas" />
</form>
</body>
</html>